<div class="sidebar">
	<%= menu([
		['Home', root_path],
		['R Scripts', r_scripts_path],
		['Data', data_sets_path],
		['Queues', jobs_queues_path],
		['Processing Nodes', processing_nodes_path],
		['Run analyses', jobs_path],
		['Groups', groups_path]
	]) %>
</div>
